*.jrl*
*.log*
*.dml*
SCHEME/*.DBK
SCHEME/*.db
BOARD/*.dmp*
BOARD/*.txt*
BOARD/*.dat*
BOARD/*.iml*
BOARD/*.lst*
BOARD/*.SAV*
BOARD/*.tag*
BOARD/*.lck
BOARD/*.rpt
BOARD/AUTOSAVE.brd
BOARD/stepFacetFiles4Map/
BOARD/signoise.run/
*.html
._*
.DS_Store
